

#buttons-row {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 30px;
    margin-bottom: 5px;
}

#buttons-labels {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 45px;
    margin: -5px 0 10px 0;
}

.rounded {
    border-radius: 20px;
    box-shadow: 0 0 0 2px navy;
}

.egg-body {
    margin: -5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    min-width: 200px;
    min-height: 250px;
    justify-content: space-between;
}

.display-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightseagreen;
    min-height: 200px;
    min-width: 100px;
    box-shadow: inset 2px 2px 2px 2px black;
    outline: solid navy 2px;
}

.buddy {
    margin: auto;
    width: 60%;
}

.idle {
    animation: idle 2s infinite;
}

@keyframes idle {
    0%,40%,60%,80% {
        transform: translateY(0);
    }
    50%,70% {
        transform: translateY(-0.3rem);
    }
}

.yellow-button {
    border: solid rgba(255, 255, 255, 0.518) 2px;
    box-shadow: 0 0 1px 2px gray;
    background-color: gold;
    content-visibility: hidden;
    border-radius: 10px;
    min-height: 25px;
    min-width: 40px;
}

.yellow-button:hover {
    outline: solid white 1px;
    transition: 0.2s;
}

.yellow-button:active {
    background-color: darkgoldenrod;
}

.counter {
    font-family: 'Press Start 2P';
    font-size: 13px;
    position: absolute;
}

#time {
    left: 45px;
}

#health {
    right: 45px;
}
